body {
    background-color: #D5E1EF;
}

.component-container {
    background-color: #ffffff;
    width: 320px;
    height: 499px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.qrcode {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode-image {
    height: 284px;
    border-radius: 10px;
}

.component-text {
    font-family: "Outfit", sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.text-title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.text-subtitle {
    font-size: 15px;
}